extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/pages/add-product.css")

block content
    main
        form(action="/admin/add-product", method="post", id="add-product-input-wrapper")
            input(type="text", name="title", id="title", class="add-product-inputs", placeholder="NAME")
            input(type="text", name="imageUrl", id="imageUrl", class="add-product-inputs", placeholder="IMAGE URL")
            input(type="number", name="price", id="price", class="add-product-inputs", placeholder="PRICE", step="0.01")
            input(type="textarea", name="description", id="description", class="add-product-inputs", placeholder="DESCRIPTION")
            button(type="submit", class="add-product-inputs product-submit-button") Add Product