* {
  box-sizing: border-box;
}

html, body {
    /* height: calc(100vh - 16px);
    width: calc(100vw - 16px); */
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, a {
    background: #222;
    color: #eee;
    font-size: 1rem;
}

input {
    padding: 0.5em;
}

button {
    background: transparent;
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    padding: 0.5em;
    font-weight: bold;
}

button:hover {
    background: darkgoldenrod;
    color: #222;
    border: 1px solid darkgoldenrod;
}

a {
    text-decoration: none;
}

nav a:hover, a.active {
    color: darkgoldenrod;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

.page-title {
    text-transform: uppercase;
    color: darkgoldenrod;
}

nav ul {
    padding: 0;
    margin: 1em;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 1em;
}

.buy-btn {
    margin: 1em;
}

.link {
    color: darkgoldenrod;
}

.link, .simple-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: inherit;
    text-transform: uppercase;
}

.link:hover, .simple-btn:hover {
    background: none;
    border: none;
    color: #eee;
}