html, body, a {
    background: #222;
    color: #eee;
}

button {
    background: transparent;
    color: inherit;
    border: 2px solid #eee;
}

a {
    text-decoration: none;
}

a:hover, a.active {
    color: darkgoldenrod;
}