.card-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.8em;
    padding-top: 1em;
    border-top: 1px solid darkgoldenrod;
}

.delete-btn, .edit-btn {
    border: none;
    padding: 0;
}