#products-page, #my-cart {
    position: relative;
    max-width: 100vh;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 2em;
    height: calc(8600px - 100vw * 3);
    justify-content: flex-end;
    align-content: center;
}

.page-title {
    margin: 1vh 0 3vh 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgoldenrod;
    width: 350px;
    height: fit-content;
    text-align: center;
}

.card-image img {
    min-width: 100%;
    max-width: 100%;
    height: 400px;
}

.card-content {
    flex-grow: 4;
}

.card-actions {
    padding-bottom: 1em;
}

.details-btn {
    font-size: 0.8rem;
}