extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/pages/product-list.css")

block content
    main#products-page
        h1.page-title products
        if hasProducts
            section#products-container
                each product in prods
                    article.product-item
                        header.card-header
                            h2.product-title #{product.title}
                        // div
                        .card-image
                            img(src=product.imageUrl, alt=product.title)
                        .card-content
                            h3.product-price $#{product.price}
                        .card-actions
                            include ../layouts/add-to-cart-button.pug
                            a(href="/products/"+product.id class="link details-btn") Details
        else
            h2 No Products... :(